﻿@{
    Layout = null;
}

@RenderSection("Scripts", false)
<div class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="editRegion" data-bind="showModal: user, with: user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                @RenderSection("Title", false)
            </div>
            <div class="modal-body">
                @RenderSection("Content", false)
            </div>
            <div class="modal-footer">
                @RenderSection("Actions")
            </div>
        </div>
    </div>
</div>
