﻿<form role="form">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" placeholder="Enter name" data-bind="value: Name">
    </div>
    <div class="form-group">
        <label for="inputLastName">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name" data-bind="value: LastName">
    </div>
    <div class="form-group">
        <label for="selectStatus">Status</label>
        <select class="form-control" id="selectStatus" data-bind="value: Status, options: $parent.statuses, optionsText: 'Name', optionsValue: 'Id'">
        </select>
    </div>
    <div class="form-group">
        <label for="selectRoles">Roles</label>
        <select class="multiselect form-control" multiple="multiple" id="selectRoles" data-bind="options: $parent.roles,
                                                                           optionsText: 'Name',
                                                                           optionsValue: 'Id',
                                                                           selectedOptions: Roles,
                                                                           maxHeight: 200,
                                                                           multiselect: true">
        </select>
    </div>
    <div class="form-group">
        <label for="selectPages">Pages</label>
        <select class="multiselect form-control" multiple="multiple" id="selectPages" data-bind="options: $parent.pages,
                                                                            optionsText: 'Name',
                                                                            optionsValue: 'Id',
                                                                            selectedOptions: Pages,
                                                                            maxHeight: 200,
                                                                            multiselect: true">
        </select>
    </div>
</form>