﻿@{
    Layout = "~/Areas/Admin/Views/Shared/_EditLayout.cshtml";
}

@section Title{
    <h4 class="modal-title" id="myModalLabel">
        <span data-bind="text: $parent.header"></span>
    </h4>
}

@section Content
{
    @Html.Partial("_Input")
}

@section Actions
{
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="visible: $parent.isNew == false, click: $parent.delete">Delete</button>
    <button type="button" class="btn btn-primary" data-bind="click: $parent.edit">Save</button>
}