﻿<div class="container">
    <div class="row" id="userRegion">
        <form role="form">
            <div class="form-group">
                <label for="inputText">Search</label>
                <input type="text" class="form-control" placeholder="Text input" id="inputText" data-bind="value: keyword, valueUpdate: 'afterkeydown', event: { keypress: search }">
            </div>
            <button type="button" class="btn btn-default" data-bind="event: { click: $root.createUser }">Add</button>
        </form>
        @Html.Partial("UserGrid")
    </div>
</div>



