﻿<table class="table table-hover table-condensed table-striped" id="users">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Status</th>
            <th>Is Admin</th>
            <th>Pages</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: users">
        <tr style="cursor: pointer;" data-bind="event: { dblclick: $root.editUser }, contextMenu: { 'Edit': $root.editUser, 'Delete': $root.deleteUser}" data-toggle="context" data-target="#context-menu">
            <td><span data-bind="text: Name"></span></td>
            <td><span data-bind="text: LastName"></span></td>
            <td><span data-bind="text: Status.Name"></span></td>
            <td>
                <input type="checkbox" data-bind="checked: IsAdmin" disabled="disabled" /></td>
            <td>
                <div data-bind="foreach: Pages">
                    <!-- ko if: $index() > 0 -->
                    ,<!-- /ko -->
                    <span data-bind="text: $data.Name"></span>
                </div>
            </td>
        </tr>
    </tbody>
</table>
